@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* @font-face {
  font-family: 'iran_sans_bold';
  src: url('../Fonts/iran_sans_bold.woff') format('woff');
}
@font-face {
  font-family: 'iran_sans_light';
  src: url('../Fonts/iran_sans_light.woff') format('woff');
}
@font-face {
  font-family: 'iran_sans_medi';
  src: url('../Fonts/iran_sans_medi.woff') format('woff ');
} */

html{
  font-size: 60%;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;

}

p{
  font-size: 15x;
}

/* Start css Header  */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 5rem rgba(0, 0, 0, .1);
}
header .logo img{
    
  display: block;
  max-width:40px;
  max-height:80px;
  width: auto;
  height: auto;
}
header .navbar a{
  font-size: 1.5rem;
  color: #000;
  margin: 0 2rem;
}
header .navbar a:hover{
  color: orangered;
}
header .icons a{
  font-size: 2rem;
  color: #000;
  margin-left: 1.5rem;
}
#menu-bar{
  font-size: 2rem;
  padding: .5rem 1rem;
  border: .1rem solid #000;
  color: #000;
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}

/* End css Header  */


/* Start css Slide Show Image  */
section{
  padding: 6rem 9%;
}
.home{
  padding: 0;
  position: relative;
}
 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .home-slider .slide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 9rem;

}
.home .slide .content{
  flex: 1 1 40rem;
  animation: slideContent .3s linear 1s backwards;
  padding: 2rem 9%;
} 
@keyframes slideContent{
  0%{
      opacity: 0;
      transform: translateX(-10rem);
  }
}

.home .home-slider .slide .image{
  flex: 1 1 45rem;

}

.home .home-slider .slide .image img{
  width: 70%;
  object-fit: cover;
  transform: rotate(-10deg);
  animation: slideContent .3s linear;
}

.home .home-slider .slide .content span{
  color: #ccc;
  font-size: 2.5rem;

}
.home .home-slider .slide .content h3{
  color: #111;
  font-size: 5.5rem;

}
.home .home-slider .slide .content p{
  color: #444;
  font-size: 2rem;
  padding: 0.5rem 0;
  line-height: 1.5;

}


.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border: .2rem solid #000;
  font-weight: bolder;
  font-size: 1.7rem;
  color: #000;
  cursor: pointer;
  padding: .8rem 3rem;
}
.btn:hover{
  background: #ccc;
  letter-spacing: 0.1rem;
}

/* .swiper-pagination-bullet-active{
  background: #ccc !important;
} */

.home .home-slider .slide{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;

}
.home .home-slider .slide .content{
  flex: 1 1 45rem;

}

/* End css Slide Show Image  */

.heading{
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
.heading span{
  color: rgb(109, 160, 153);
}
.product .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.product .box-container .box{
  border: .1rem solid #fff;
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #fff;
  flex: 1 1 30rem;
}
.product .box-container .content{
  padding: 2.5rem;
}
.product .box-container .box img{
  height: 20rem;
  transform: rotate(-0);
  margin: 8rem 2rem;
}
.product .box-container .box:hover img{
  transform: rotate(-0deg) scale(1.2);
}
.product .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: .5rem;
  left: 1rem;
}
.product .box-container .box .icons a{
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #000;
  border: .1rem solid #000;
  border-radius: .5rem;
  background: #fff;
  margin-top: .5rem;
}
.product .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: .5rem;
  left: -10rem;
}
.product .box-container .box:hover .icons{
  left: 1rem;
}
.product .box-container .box .icons a:hover{
  color: rgb(109, 160, 153);
  color: #fff;
}
.product .box-container .box .content h3{
  color: #000;
  font-size: 1.8rem;
}
.product .box-container .box .content .price{
  color: #000;
  font-size: 1.75rem;
  font-weight: bolder;
  padding: 1rem 0;
}
.product .box-container .box .content .price span{
  color: #000;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.product .box-container .box .content .stars{
  padding-bottom: 1rem;
}
.product .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: rgb(109, 160, 153);
}
/* endproduct */
.blog .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .4rem solid #fff;
    border-radius: .5rem;
    background: #fff;
    padding: 2rem;
}
.blog .box-container .box img{
  border-radius: 50%;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  margin: 1rem 0;
  border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
  transform: scale(1.2);
}
.blog .box-container .box h3{
   font-size: 2.5rem;
   color: #000;
}
.blog .box-container .box p{
   font-size: 1.6rem;
   color: #666;
   padding: 1rem 0;
}
/* end box */
.gallery {
  padding: 50px;
  display: flex;
}
.gallery h1{
  font-size: 30px;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}
/* emd gallery */
.newSeason {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nsTitleSm{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.nsItem {
  height: 100%;
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}
.nsButton:hover {
  background: #ccc;
}
/*   */
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}
/* #newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color:#000;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea8;
}
#newsletter p span{
  color: #ffbd27;
}
#newsletter .form{
  display: flex;
  width: 35%;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em ;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
#newsletter button{
  background-color: #fff;
  color: #000;
  white-space: nowrap;
} */


.news{
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.news .content{
  width: 100%;
  text-align: center;
  border: .1rem solid #fff;
  border-radius: .5rem;
  background: #fff;
  padding: 2rem;
}
.news .content h3{
  font-size: 2.5rem;
  color: #000;
}
.news .content p{
  font-size: 1.5rem;
  color: #666;
  margin: 1rem auto;
  max-width: 100rem;
}
.news .content form{
  margin:  1rem auto;
  max-width: 50rem;
  display: flex;
}

.news .content form .email{
  width: 100%;
  font-size: 1.7rem;
  text-transform: none;
  color: #333;
  padding: 1rem;
  border: .2rem solid #fff;
  border-right: none;
  margin-top: 1rem;
}
.news .content form .btn{
  border-radius: none;
  border: .2rem solid rgba(255, 255, 255, 0.462);
}

#page-header{
  background-image:url("src/image/b1.jpg");
}

/* // */
footer{
  padding: 6rem 9%;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top:30px ;
}
footer h4{
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 20px;
  
}
footer p{
  font-size: 10px;
  margin-top: 10px
}
footer a{
  margin-top: 16px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ccc;
}
footer a:hover{
  color: #caa871;
}
footer .follow i{
  font-size: 2.0  rem;
  color: #fff;
  cursor: pointer;
}
footer .copyright{
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
footer .copyright p{
  font-size: 1.2rem;
  color: #fff;
}
footer .payment{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}
footer .payment img{
  width: 400px;
  height: 36px;
}
/* end footer */


 /* Responsive Mobile  */
@media (max-width:768px){
  #menu-bar{
      display: block;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: .1rem solid rgba(0, 0, 0, .1);
  }
  header .navbar a{
    font-size: 2rem;
    background: #fff;
    border: .1rem solid #000;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    display: block;
    text-align: center;
  }
  header .navbar.active{
    left: 0;
  }


}
 /* Responsive Mobile  */
